@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();

    List<ChucVu>
    getListChucVu()
    {
    return context.ChucVu.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
    if (date != null)
    {
    return date.Value.ToString("MM/yyyy");
    }
    else
    {
    return null;
    }
    }
}
    <tr>
        <td class="text-center TGBDCV">
            <input data-date-format="MM-yyyy" class="form-control" type="text" id="tungayQTCV" value="@ViewBag.tungay.ToString(" MM-yyyy")" />
        </td>
        <td class="text-center TGKTCV">
            <input data-date-format="MM-yyyy" class="form-control" type="text" id="denngayQTCV" value="@ViewBag.denngay.ToString(" MM-yyyy")" />
            <input type="hidden" id="IDQT" value="@ViewBag.IDQT" />
        </td>

        <td class="text-center TenCV">
            <select class="form-select"
                    name=""
                    id="">
                <option selected value="@ViewBag.macv">@ViewBag.chucvu</option>
                @foreach (ChucVu cv in getListChucVu())
                {
                <option value="@cv.Id">@cv.TenChucVu</option>
                }
            </select>
        </td>


        <td class="text-center d-flex justify-content-evenly">
            <button class="btn btn-primary saveQTCV">Lưu</button>
            <button class="btn btn-danger btnhuyQTCV">Hủy</button>

        </td>
    </tr>
    <script>
    $('#tungayQTCV,#denngayQTCV').datetimepicker({
        locale: 'vi',
        useStrict: true,
        format: "MM-yyyy",
        icons: {
            date: "bi bi-calendar2-date",
            up: "bi bi-chevron-up",
            down: "bi bi-chevron-down",
            previous: 'bi bi-chevron-left',
            next: 'bi bi-chevron-right',
            time: "bi bi-clock"
        }
    });
    </script>
