@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();

    List<Dmhsluong>
    getListDmhsluong()
    {
        return context.Dmhsluong.Where(x => x.Active == true).ToList();
    }
    List<Dmluong>
   getListDmluong()
    {
        return context.Dmluong.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("MM/yyyy");
        }
        else
        {
            return null;
        }
    }
}
<tr>
    <td class="text-center TGBDL">
        <input data-date-format="MM-yyyy" class="form-control" type="text" id="tungayQTL" value="@ViewBag.tungay.ToString(" MM-yyyy")" />
    </td>
    <td class="text-center TGKTL">
        <input data-date-format="MM-yyyy" class="form-control" type="text" id="denngayQTL" value="@ViewBag.denngay.ToString(" MM-yyyy")" />
        <input type="hidden" id="IDQTL" value="@ViewBag.IDQTL" />
    </td>
    <td class="text-center MaHSL">
        <select class="form-select"
                name=""
                id="">
            <option selected value="@ViewBag.mahsl">@ViewBag.Hesoluong</option>
            @foreach (Dmhsluong hsl in getListDmhsluong())
            {
                <option value="@hsl.Id">@hsl.HeSoLuong</option>
            }
        </select>
    </td>
    <td class="text-center TienLuong">
        <select class="form-select"
                name=""
                id="">
            <option selected value="@ViewBag.maml">@ViewBag.Tienluong</option>
            @foreach (Dmluong l in getListDmluong())
            {
                <option value="@l.Id">@l.TienLuong</option>
            }
        </select>
    </td>


    <td class="text-center d-flex justify-content-evenly">
        <button class="btn btn-primary saveQTL">Lưu</button>
        <button class="btn btn-danger btnhuyQTL">Hủy</button>

    </td>
</tr>
    <script>
    $('#tungayQTL,#denngayQTL').datetimepicker({
        locale: 'vi',
        useStrict: true,
        format: "MM-yyyy",
        icons: {
            date: "bi bi-calendar2-date",
            up: "bi bi-chevron-up",
            down: "bi bi-chevron-down",
            previous: 'bi bi-chevron-left',
            next: 'bi bi-chevron-right',
            time: "bi bi-clock"
        }
    });
    </script>
