

@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();

    List<ChucVu> getListChucVu()
    {
        return context.ChucVu.ToList();
    }
    List<PhongBan> getListPhongBan()
    {
        return context.PhongBan.ToList();
    }
    List<DmheSoPhuCap> getListDmheSoPhuCap()
    {
        return context.DmheSoPhuCap.ToList();
    }
    List<Dmhsluong> getListDmhsluong()
    {
        return context.Dmhsluong.ToList();
    }
    List<Dmluong> getListDmluong()
    {
        return context.Dmluong.ToList();
    }
    List<DmmucPhuCap> getListDmmucPhuCap()
    {
        return context.DmmucPhuCap.ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("MM/yyyy");
        }
        else
        {
            return null;
        }
    }
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-home"
                            aria-controls="navs-justified-home"
                            aria-selected="true">
                        Quá trình chức vụ
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-profile"
                            aria-controls="navs-justified-profile"
                            aria-selected="false">
                        Quá trình công tác
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-messages"
                            aria-controls="navs-justified-messages"
                            aria-selected="false">
                        Quá trình lương
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-phucap"
                            aria-controls="navs-justified-phucap"
                            aria-selected="false">
                        Quá trình phụ cấp
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show"
                     id="navs-justified-home"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <form>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs"/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                                <div class="row mb-2">
                                    <label class="col-sm-1 col-lg-1 col-form-label">Từ ngày</label>
                                    <div class="col-sm-2 col-lg-2">
                                        <input id="tungay" type="text" class="form-control" />
                                    </div>
                                    <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
                                    <div class="col-sm-2 col-lg-2">
                                        <input id="denngay" type="text" class="form-control"  />
                                    </div>
                                    <label class="col-sm-1 col-lg-1 col-form-label">Chức vụ</label>
                                    <div class="col-sm-2 col-lg-2">
                                        <select class="form-select"
                                                name=""
                                                id="">
                                            <option selected value="">Chức vụ</option>
                                            @foreach (ChucVu cv in getListChucVu())
                                            {
                                                <option value="@cv.Id">@cv.TenChucVu</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3 col-lg-3 d-flex justify-content-end">
                                        <button class="btn btn-primary">Lưu</button>
                                    </div>
                                </div>
</form>
                    </div>
                    <table id="example"
                           class="table table-responsive table-bordered"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Chức vụ</th>

                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @foreach (QtchucVu item in ViewBag.QTCV ) { 

                            <tr>
                                <td class="text-center"> @formatDay(item.TgbatDau)</td>
                                <td class="text-center">@formatDay(item.TgketThuc)</td>

                                <td class="text-center">@item.MaCvNavigation.TenChucVu</td>


                                <td class="text-center d-flex justify-content-evenly">
                                    <a href="">
                                        Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                    </a>

                                    <a href=""
                                       onclick="return confirm('Bạn có xoá quá trình chức vụ này?')">
                                        Xóa
                                        <i class="bx bx-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-profile"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <form>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Từ ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="date" class="form-control" />
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="date" class="form-control" />
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Phòng ban</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="">
                                        <option selected value="">Phòng ban</option>
                                        @foreach (PhongBan pb in getListPhongBan())
                                        {
                                            <option value="@pb.Id">@pb.TenPhongBan</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3 col-lg-3 d-flex justify-content-end">
                                    <button class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="example"
                           class="table table-responsive table-bordered"
                           style="width: 100%">
                        <thead>
                           
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Phòng ban</th>
                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (QtcongTac item in ViewBag.QTCT)
                            {
                                <tr>
                                    <td class="text-center">@formatDay(item.TgbatDau)</td>
                                    <td class="text-center">@formatDay(item.TgketThuc)</td>
                                    <td class="text-center">@item.MaPbNavigation.TenPhongBan</td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a href="">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a href=""
                                           onclick="return confirm('Bạn có xoá quá trình công tác này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-messages"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <form>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Tháng</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id=""></select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Năm</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id=""></select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Hệ số lương</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="">
                                        <option selected value="">Hệ số lương</option>
                                        @foreach (Dmhsluong hsl in getListDmhsluong())
                                        {
                                            <option value="@hsl.Id">@hsl.HeSoLuong</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Mức lương cơ sở</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="">
                                        <option selected value="">Mức lương cơ bản</option>
                                        @foreach (Dmluong dml in getListDmluong())
                                        {
                                            <option value="@dml.Id">@dml.TienLuong</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4 col-lg-4 d-flex justify-content-end">
                                    <button class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="example"
                           class="table table-responsive table-bordered"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Hệ số lương</th>
                                <th class="text-center">Mức lương cơ sở</th>
                                <th class="text-center">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (QuaTrinhLuong item in ViewBag.QTL) {
                            <tr>
                                <td class="text-center">@formatDay(item.TgbatDau)</td>
                                <td class="text-center">@formatDay(item.TgketThuc)</td>
                                <td class="text-center">@item.MaHslNavigation.HeSoLuong</td>
                                <td class="text-right">@item.MaMlNavigation.TienLuong</td>
                                <td class="text-center d-flex justify-content-evenly">
                                    <a href="">
                                        Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                    </a>

                                    <a href=""
                                       onclick="return confirm('Bạn có xoá quá trình lương này?')">
                                        Xóa
                                        <i class="bx bx-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-phucap"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <form>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Tháng</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id=""></select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Năm</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id=""></select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Hệ số phụ cấp</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="">
                                        <option selected value="">Hệ số phụ cấp</option>
                                        @foreach (DmheSoPhuCap hspc in getListDmheSoPhuCap())
                                        {
                                            <option value="@hspc.Id">@hspc.HeSoPhuCap</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">khoản phụ cấp</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="">
                                        <option selected value="">Khoản phụ cấp</option>
                                        @foreach (DmmucPhuCap mpc in getListDmmucPhuCap())
                                        {
                                            <option value="@mpc.Id">@mpc.KhoanPhuCap</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4 col-lg-4 d-flex justify-content-end">
                                    <button class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <table id="example"
                           class="table table-responsive table-bordered"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Hệ số phụ cấp</th>
                                <th class="text-center">Khoản phụ cấp</th>
                                <th class="text-center">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (QuaTrinhPhuCap item in ViewBag.QTPC) {
                            <tr>
                                <td class="text-right">@formatDay(item.TgbatDau)</td>
                                <td class="text-right">@formatDay(item.TgketThuc)</td>
                                <td class="text-center">@item.MaHspcNavigation.HeSoPhuCap</td>
                                <td class="text-center">@item.MaPcNavigation.KhoanPhuCap</td>
                                <td class="text-center d-flex justify-content-evenly">
                                    <a href="">
                                        Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                    </a>

                                    <a href=""
                                       onclick="return confirm('Bạn có xoá quá trình phụ cấp này?')">
                                        Xóa
                                        <i class="bx bx-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>