

@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();

    List<ChucVu> getListChucVu()
    {
        return context.ChucVu.Where(x => x.Active == true).ToList();
    }
    List<PhongBan> getListPhongBan()
    {
        return context.PhongBan.Where(x => x.Active == true).ToList();
    }
    List<DmheSoPhuCap> getListDmheSoPhuCap()
    {
        return context.DmheSoPhuCap.Where(x => x.Active == true).ToList();
    }
    List<Dmhsluong> getListDmhsluong()
    {
        return context.Dmhsluong.Where(x => x.Active == true).ToList();
    }
    List<Dmluong> getListDmluong()
    {
        return context.Dmluong.Where(x => x.Active == true).ToList();
    }
    List<DmmucPhuCap> getListDmmucPhuCap()
    {
        return context.DmmucPhuCap.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("MM/yyyy");
        }
        else
        {
            return null;
        }
    }
    string format(Decimal? a)
    {
        return a?.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);
    }
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-home"
                            aria-controls="navs-justified-home"
                            aria-selected="true">
                        Quá trình chức vụ
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-profile"
                            aria-controls="navs-justified-profile"
                            aria-selected="false">
                        Quá trình công tác
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-messages"
                            aria-controls="navs-justified-messages"
                            aria-selected="false">
                        Quá trình lương
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-phucap"
                            aria-controls="navs-justified-phucap"
                            aria-selected="false">
                        Quá trình phụ cấp
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show"
                     id="navs-justified-home"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                    <input type="text" class="form-control" readonly id="IDNS" value="@ViewBag.NS.Id" hidden name="IdNS"/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Từ ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="tungay" type="text" placeholder="MM-yyyy" class="form-control" name="TuNgayCV" required/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="denngay" type="text" placeholder="MM-yyyy" class="form-control" name="DenNgayCV" required/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Chức vụ</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name="ChucVu"
                                            id="IDCV"
                                            required>
                                        <option selected value="">Chức vụ</option>
                                        @foreach (ChucVu cv in getListChucVu())
                                        {
                                            <option class="dropdown-item" value="@cv.Id">@cv.TenChucVu</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3 col-lg-3 d-flex justify-content-end">
                                    <button  id="addQTCV" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id=""
                           class="table table-responsive table-bordered tableCV tableCV1"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Chức vụ</th>
                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody id="tbodytableCV">

                            @foreach (QtchucVu item in ViewBag.QTCV)
                            {

                                <tr>
                                    <td class="text-center TGBDCV">
                                        @formatDay(item.TgbatDau)
                                        <input type="hidden" value="@item.TgbatDau" />
                                    </td>
                                    <td class="text-center TGKTCV">
                                        @formatDay(item.TgketThuc)
                                        <input type="hidden" value="@item.TgketThuc" />
                                    </td>

                                    <td class="text-start TenCV">
                                        @item.MaCvNavigation.TenChucVu
                                        <input type="hidden" value="@item.MaCvNavigation.TenChucVu" />
                                        <input type="hidden" id="MACV" value="@item.MaCvNavigation.Id" />
                                        <input type="hidden" id="IDQT" value="@item.Id" />

                                    </td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a class="btneditCV">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a class="btnxoaCV"
                                           onclick="return confirm('Bạn có xoá quá trình chức vụ này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-profile"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Từ ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="tungay1" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Đến ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="denngay1" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Phòng ban</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDPB" required>
                                        <option selected value="">Phòng ban</option>
                                        @foreach (PhongBan pb in getListPhongBan())
                                        {
                                            <option value="@pb.Id">@pb.TenPhongBan</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3 col-lg-3 d-flex justify-content-end">
                                    <button id="addQTCT" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   <table id=""
                           class="table table-responsive table-bordered tableCT tableCT1"
                           style="width: 100%">
                        <thead>

                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Phòng ban</th>
                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody id="tbodytableCT">

                            @foreach (QtcongTac item in ViewBag.QTCT)
                            {

                                <tr>
                                    <td class="text-center TGBDCT">
                                        @formatDay(item.TgbatDau)
                                        <input type="hidden" value="@item.TgbatDau" />
                                    </td>
                                    <td class="text-center TGKTCT">
                                        @formatDay(item.TgketThuc)
                                        <input type="hidden" value="@item.TgketThuc" />
                                    </td>

                                    <td class="text-start TenPB">
                                        @item.MaPbNavigation.TenPhongBan
                                        <input type="hidden" value="@item.MaPbNavigation.TenPhongBan" />
                                        <input type="hidden" id="MAPB" value="@item.MaPbNavigation.Id" />
                                        <input type="hidden" id="IDQTCT" value="@item.Id" />

                                    </td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a class="btneditPB">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a class="btnxoaPB"
                                           onclick="return confirm('Bạn có xoá quá trình chức vụ này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-messages"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Từ ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="tungay2" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Đến ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="denngay2" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Hệ số lương</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDHSL" required>
                                        <option selected value="">Hệ số lương</option>
                                        @foreach (Dmhsluong hsl in getListDmhsluong())
                                        {
                                            <option value="@hsl.Id">@hsl.HeSoLuong</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Mức lương cơ sở</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDMML" required>
                                        <option selected value="">Mức lương cơ bản</option>
                                        @foreach (Dmluong dml in getListDmluong())
                                        {
                                            <option value="@dml.Id">@dml.TienLuong</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4 col-lg-4 d-flex justify-content-end">
                                    <button id="addQTL" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                     <table id=""
                           class="table table-responsive table-bordered tableQTL tableQTL1"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Hệ số lương</th>
                                <th class="text-center">Mức lương cơ sở</th>
                                <th class="text-center">Tùy chọn</th>
                            </tr>
                        </thead>
                       
                        <tbody id="tbodytableQTL">
                            @foreach (QuaTrinhLuong item in ViewBag.QTL)
                            {
                                <tr>
                                    <td class="text-center TGBDL">@formatDay(item.TgbatDau)
                                     <input type="hidden" value="@item.TgbatDau" />
                                    </td>
                                    <td class="text-center TGKTL">@formatDay(item.TgketThuc)
                                        <input type="hidden" value="@item.TgketThuc" />
                                    </td>
                                    <td class="text-end MaHSL">@item.MaHslNavigation.HeSoLuong
                                    <input type="hidden" value="@item.MaHslNavigation.HeSoLuong" />
                                        <input type="hidden" id="MAHSL" value="@item.MaHslNavigation.Id" />
                                        <input type="hidden" id="IDQTL" value="@item.Id" />
                                    </td>
                                    <td class="text-end TienLuong">@format(item.MaMlNavigation.TienLuong)
                                    <input type="hidden" value="@item.MaMlNavigation.TienLuong" />
                                        <input type="hidden" id="MAML" value="@item.MaMlNavigation.Id" /></td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a class="btneditQTL">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a class="btnxoaQTL"
                                           onclick="return confirm('Bạn có xoá quá trình lương này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-phucap"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.MaNs" />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text" class="form-control" readonly value="@ViewBag.NS.TenNs" />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Từ ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="tungay3" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Đến ngày</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="denngay3" type="text" placeholder="MM-yyyy" class="form-control" required/>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-2 col-lg-2 col-form-label">Hệ số phụ cấp</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDHSPC" required>
                                        <option selected value="">Hệ số phụ cấp</option>
                                        @foreach (DmheSoPhuCap hspc in getListDmheSoPhuCap())
                                        {
                                            <option value="@hspc.Id">@hspc.HeSoPhuCap</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">khoản phụ cấp</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDMPC" required>
                                        <option selected value="">Khoản phụ cấp</option>
                                        @foreach (DmmucPhuCap mpc in getListDmmucPhuCap())
                                        {
                                            <option value="@mpc.Id">@mpc.KhoanPhuCap</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4 col-lg-4 d-flex justify-content-end">
                                    <button id="addQTPC" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id=""
                           class="table table-responsive table-bordered tableQTPC tableQTPC1"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Từ ngày</th>
                                <th class="text-center">Đến ngày</th>
                                <th class="text-center">Hệ số phụ cấp</th>
                                <th class="text-center">Khoản phụ cấp</th>
                                <th class="text-center">Tùy chọn</th>
                            </tr>
                        </thead>
                        
                        <tbody id="tbodytableQTPC">
                            @foreach (QuaTrinhPhuCap item in ViewBag.QTPC)
                            {
                                <tr>
                                    <td class="text-right TGBDPC">@formatDay(item.TgbatDau)
                                     <input type="hidden" value="@item.TgbatDau" />
                                        </td>
                                    <td class="text-right TGKTPC">@formatDay(item.TgketThuc)
                                      <input type="hidden" value="@item.TgketThuc" />
                                    </td>
                                    <td class="text-end MaHSPC">@item.MaHspcNavigation.HeSoPhuCap
                                        <input type="hidden" value="@item.MaHspcNavigation.HeSoPhuCap" />
                                        <input type="hidden" id="MAHSPC" value="@item.MaHspcNavigation.Id" />
                                        <input type="hidden" id="IDQTPC" value="@item.Id" />
                                    </td>
                                    <td class="text-start KhoanPC">@item.MaPcNavigation.KhoanPhuCap
                                        <input type="hidden" value="@item.MaPcNavigation.KhoanPhuCap" />
                                        <input type="hidden" id="MAMPC" value="@item.MaPcNavigation.Id" />
                                    </td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a class="btneditQTPC">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a class="btnxoaQTPC"
                                           onclick="return confirm('Bạn có xoá quá trình phụ cấp này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".tableCV").on("click", ".btneditCV", function () {

            var tungay = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var chucvu = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var macv = $(this).closest('tr').find('#MACV').val();
            var idqt = $(this).closest('tr').find('#IDQT').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTCV",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&chucvu=" + chucvu + "&macv=" + macv + "&IDQT=" + idqt,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableCV").on("click", ".btnxoaCV", function () {
            var idqt = $(this).closest('tr').find('#IDQT').val();  
            $.ajax({
                type: "post",
                url: "/XoaQTChucVu",
                data: "&IDQT=" + idqt,
                success: function (result) {
                    $("#tbodytableCV").load(location.href + " #tbodytableCV>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
        $(".tableCV").on("click", ".saveQTCV", function () {
            var tungay = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
            var chucvu = $(this).parents('tr').find("td:eq(2) select").val();
            var idqt = $(this).closest('tr').find('#IDQT').val();
            var thiss = $(this);
            $.ajax({
                type: "post",   
                url: "/UpdateQTCV",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&chucvu=" + chucvu + "&IDQT=" + idqt,
                success: function (result) {
                    $("#tbodytableCV").load(location.href + " #tbodytableCV>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });

        $(".tableCT").on("click", ".btneditPB", function () {

            var tungay = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var phongban = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var mapb = $(this).closest('tr').find('#MAPB').val();
            var idqtct = $(this).closest('tr').find('#IDQTCT').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTCT",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&phongban=" + phongban + "&mapb=" + mapb + "&IDQTCT=" + idqtct,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableCT").on("click", ".btnxoaPB", function () {
            var idqtct = $(this).closest('tr').find('#IDQTCT').val();
            $.ajax({
                type: "post",
                url: "/XoaQTCongTac",
                data: "&IDQTCT=" + idqtct,
                success: function (result) {
                    $("#tbodytableCT").load(location.href + " #tbodytableCT>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
        $(".tableCT").on("click", ".saveQTCT", function () {
            var tungay = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
            var chucvu = $(this).parents('tr').find("td:eq(2) select").val();
            var idqt = $(this).closest('tr').find('#IDQTCT').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/UpdateQTCT",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&phongban=" + chucvu + "&IDQTCT=" + idqt,
                success: function (result) {
                    $("#tbodytableCT").load(location.href + " #tbodytableCT>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to save");
                }
            });
        });

        $(".tableQTL").on("click", ".btneditQTL", function () {

            var tungay = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var hesoluong = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var tienluong = $(this).parents('tr').find("td:eq(3) input[type='hidden']").val();
            var mahsl = $(this).closest('tr').find('#MAHSL').val();
            var maml = $(this).closest('tr').find('#MAML').val();
            var idqtl = $(this).closest('tr').find('#IDQTL').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTL",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&hesoluong=" + hesoluong + "&mahsl=" + mahsl + "&tienluong=" + tienluong + "&maml=" + maml + "&IDQTL=" + idqtl,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableQTL").on("click", ".btnxoaQTL", function () {
            var idqtl = $(this).closest('tr').find('#IDQTL').val();
            $.ajax({
                type: "post",
                url: "/XoaQTLuong",
                data: "&IDQTL=" + idqtl,
                success: function (result) {
                    $("#tbodytableQTL").load(location.href + " #tbodytableQTL>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
        $(".tableQTL").on("click", ".saveQTL", function () {
            var tungay = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
            var mahsl = $(this).parents('tr').find("td:eq(2) select").val();
            var maml = $(this).parents('tr').find("td:eq(3) select").val();
            var idqtl = $(this).closest('tr').find('#IDQTL').val();
            
            $.ajax({
                type: "post",
                url: "/UpdateQTL",
                data: "tungay=" + tungay + "&denngay=" + denngay  + "&mahsl=" + mahsl  + "&maml=" + maml + "&IDQTL=" + idqtl,
                success: function (result) {
                    $("#tbodytableQTL").load(location.href + " #tbodytableQTL>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });

        $(".tableQTPC").on("click", ".btneditQTPC", function () {

            var tungay = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var hesophucap = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var khoanphucap = $(this).parents('tr').find("td:eq(3) input[type='hidden']").val();
            var mahspc = $(this).closest('tr').find('#MAHSPC').val();
            var mampc = $(this).closest('tr').find('#MAMPC').val();
            var idqtpc = $(this).closest('tr').find('#IDQTPC').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTPC",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&hesophucap=" + hesophucap + "&mahspc=" + mahspc + "&khoanphucap=" + khoanphucap + "&mampc=" + mampc + "&IDQTPC=" + idqtpc,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableQTPC").on("click", ".btnxoaQTPC", function () {
            var idqtpc = $(this).closest('tr').find('#IDQTPC').val();
            $.ajax({
                type: "post",
                url: "/XoaQTPhuCap",
                data: "&IDQTPC=" + idqtpc,
                success: function (result) {
                    $("#tbodytableQTPC").load(location.href + " #tbodytableQTPC>*", function () {
                    });
                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
        $(".tableQTPC").on("click", ".saveQTPC", function () {
            var tungay = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var denngay = $(this).parents('tr').find("td:eq(1) input[type='text']").val();
            var mahspc = $(this).parents('tr').find("td:eq(2) select").val();
            var mampc = $(this).parents('tr').find("td:eq(3) select").val();
            var idqtpc = $(this).closest('tr').find('#IDQTPC').val();

            $.ajax({
                type: "post",
                url: "/UpdateQTPC",
                data: "tungay=" + tungay + "&denngay=" + denngay + "&mahspc=" + mahspc + "&mampc=" + mampc + "&IDQTPC=" + idqtpc,
                success: function (result) {
                    $("#tbodytableQTPC").load(location.href + " #tbodytableQTPC>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
    });

    $(document).on('click', '.btnhuyQTCV', function () {
        $("#tbodytableCV").load(location.href + " #tbodytableCV>*", function () {
        });
    });
    $(document).on('click', '#addQTCV', function () {
        var idns = $("#IDNS").val();
        var idcv = $("#IDCV").val();
        var tungay = $("#tungay").val();
        var denngay = $("#denngay").val();

        var tungayParts = tungay.split("-");
        var denngayParts = denngay.split("-");
        var tungayDate = new Date(tungayParts[1], tungayParts[0] - 1);
        var denngayDate = new Date(denngayParts[1], denngayParts[0] - 1);

        // Kiểm tra nếu ngày bắt đầu lớn hơn ngày kết thúc
        if (tungayDate > denngayDate) {
            alert("Tháng bắt đầu không được lớn hơn tháng kết thúc!");
            return; // Dừng việc gửi yêu cầu AJAX nếu có lỗi
        }
        $.ajax({
            type: "post",
            url: "/insertQTChucVu",
            data: "IdNS=" + idns + "&ChucVu=" + idcv + "&TuNgayCV=" + tungay + "&DenNgayCV=" + denngay,
            success: function (result) {
                $("#tbodytableCV").load(location.href + " #tbodytableCV>*", function () {
                });
                $("#IDCV").val('');
                $("#tungay").val('');
                $("#denngay").val('');

            },
            error: function () {
                alert("Thiếu dữ liệu");
            }
        });
    });
    $(document).on('click', '.btnhuyQTCT', function () {
        $("#tbodytableCT").load(location.href + " #tbodytableCT>*", function () {
        });
    });
    $(document).on('click', '#addQTCT', function () {
        var idns = $("#IDNS").val();
        var idpb = $("#IDPB").val();
        var tungay = $("#tungay1").val();
        var denngay = $("#denngay1").val();

        var tungayParts = tungay.split("-");
        var denngayParts = denngay.split("-");
        var tungayDate = new Date(tungayParts[1], tungayParts[0] - 1);
        var denngayDate = new Date(denngayParts[1], denngayParts[0] - 1);

        // Kiểm tra nếu ngày bắt đầu lớn hơn ngày kết thúc
        if (tungayDate > denngayDate) {
            alert("Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc!");
            return; // Dừng việc gửi yêu cầu AJAX nếu có lỗi
        }
        $.ajax({
            type: "post",
            url: "/insertQTCongTac",
            data: "IdNS=" + idns + "&PhongBan=" + idpb + "&TuNgayCV=" + tungay + "&DenNgayCV=" + denngay,
            success: function (result) {
                $("#tbodytableCT").load(location.href + " #tbodytableCT>*", function () {
                });
                $("#IDPB").val('');
                $("#tungay1").val('');
                $("#denngay1").val('');
            },
            error: function () {
                alert("Thiếu dữ liệu");
            }
        });
    });
    $(document).on('click', '.btnhuyQTL', function () {
        $("#tbodytableQTL").load(location.href + " #tbodytableQTL>*", function () {
        });
    });
    $(document).on('click', '#addQTL', function () {
        var idns = $("#IDNS").val();
        var idhsl = $("#IDHSL").val();
        var idml = $("#IDMML").val();
        var tungay = $("#tungay2").val();
        var denngay = $("#denngay2").val();

        var tungayParts = tungay.split("-");
        var denngayParts = denngay.split("-");
        var tungayDate = new Date(tungayParts[1], tungayParts[0] - 1);
        var denngayDate = new Date(denngayParts[1], denngayParts[0] - 1);

        // Kiểm tra nếu ngày bắt đầu lớn hơn ngày kết thúc
        if (tungayDate > denngayDate) {
            alert("Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc!");
            return; // Dừng việc gửi yêu cầu AJAX nếu có lỗi
        }
        $.ajax({
            type: "post",
            url: "/insertQTLuong",
            data: "IdNS=" + idns + "&MaHSL=" + idhsl + "&MaMl=" + idml + "&TuNgayQTL=" + tungay + "&DenNgayQTL=" + denngay,
            success: function (result) {
                $("#tbodytableQTL").load(location.href + " #tbodytableQTL>*", function () {
                });
                $("#IDHSL").val('');
                $("#IDMML").val('');
                $("#tungay2").val('');
                $("#denngay2").val('');
            },
            error: function () {
                alert("Thiếu dữ liệu");
            }
        });
    });
    $(document).on('click', '.btnhuyQTPC', function () {
        $("#tbodytableQTPC").load(location.href + " #tbodytableQTPC>*", function () {
        });
    });
    $(document).on('click', '#addQTPC', function () {
        var idns = $("#IDNS").val();
        var idhspc = $("#IDHSPC").val();
        var idmpc = $("#IDMPC").val();
        var tungay = $("#tungay3").val();
        var denngay = $("#denngay3").val();

        var tungayParts = tungay.split("-");
        var denngayParts = denngay.split("-");
        var tungayDate = new Date(tungayParts[1], tungayParts[0] - 1);
        var denngayDate = new Date(denngayParts[1], denngayParts[0] - 1);

        // Kiểm tra nếu ngày bắt đầu lớn hơn ngày kết thúc
        if (tungayDate > denngayDate) {
            alert("Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc!");
            return; // Dừng việc gửi yêu cầu AJAX nếu có lỗi
        }
        $.ajax({
            type: "post",
            url: "/insertQTPhuCap",
            data: "IdNS=" + idns + "&MaHSPC=" + idhspc + "&MaMPC=" + idmpc + "&TuNgayQTPC=" + tungay + "&DenNgayQTPC=" + denngay,
            success: function (result) {
                $("#tbodytableQTPC").load(location.href + " #tbodytableQTPC>*", function () {
                });
                $("#IDHSPC").val('');
                $("#IDMPC").val('');
                $("#tungay3").val('');
                $("#denngay3").val('');
            },
            error: function () {
                alert("Thiếu dữ liệu");
            }
        });
    });
</script>