@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();

    List<Phat> getListPhat()
    {
        return context.Phat.Where(x => x.Active == true).ToList();
    }
    List<ThuongPckhac> getListThuongPckhacs()
    {
        return context.ThuongPckhac.Where(x => x.Active == true).ToList();
    }
    string formatDay(DateTime? date)
    {
        if (date != null)
        {
            return date.Value.ToString("dd/MM/yyyy");
        }
        else
        {
            return null;
        }

    }
    string format(Decimal? a)
    {
        return a?.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);
    }
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-home"
                            aria-controls="navs-justified-home"
                            aria-selected="true">
                        Các khoản thưởng và phụ cấp khác
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-profile"
                            aria-controls="navs-justified-profile"
                            aria-selected="false">
                        Các khoản phạt và trừ lương
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show"
                     id="navs-justified-home"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text"
                                           class="form-control"
                                           value="@ViewBag.NS.MaNs"
                                           readonly />
                                    <input type="text" class="form-control" readonly id="IDNS" value="@ViewBag.NS.Id" hidden name="IdNS" />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text"
                                           class="form-control"
                                           value="@ViewBag.NS.TenNs"
                                           readonly />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Thời gian</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="thoigian" type="date" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Khoản thưởng phụ cấp</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDT" required>
                                        <option selected value="">Khoản thưởng, phụ cấp</option>
                                        @foreach (ThuongPckhac tpc in getListThuongPckhacs())
                                        {
                                            <option value="@tpc.Id">@tpc.NoiDung</option>
                                        }
                                    </select>
                                    </select>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Số tiền</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="TT" type="number" class="form-control" required/>
                                </div>
                                <div class="col-sm-2 col-lg-2 d-flex justify-content-end">
                                    <button id="addQTT" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered tableT tableT1"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Thời gian</th>
                                <th class="text-center">Khoản thưởng, phụ cấp</th>
                                <th class="text-center">Số tiền</th>

                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody id="tbodytableT">
                            @foreach (QuaTrinhThuongPc item in ViewBag.TPCK)
                            {
                                <tr>
                                    <td class="text-right TGT">
                                        @formatDay(item.Tgthuong)
                                    <input type="hidden" value="@item.Tgthuong" />
                                </td>
                                <td class="text-right KT">
                                    @item.MaThuongNavigation?.NoiDung
                                <input type="hidden" value="@item.MaThuongNavigation?.NoiDung" />
                                <input type="hidden" id="MAT" value="@item.MaThuongNavigation.Id" />
                                <input type="hidden" id="IDQTT" value="@item.Id" />
                            </td>
                            <td class="text-center TienT">
                                @format(item.TienThuong)
                            <input type="hidden" value="@item.TienThuong" />
                        </td>
                        <td class="text-center d-flex justify-content-evenly">
                            <a class="btneditT">
                                Chỉnh sửa <i class="bx bx-edit-alt"></i>
                            </a>

                            <a class="btnxoaT"
                               onclick="return confirm('Bạn có mức thưởng, phụ cấp này?')">
                                Xóa
                                <i class="bx bx-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade"
                     id="navs-justified-profile"
                     role="tabpanel">
                    <div class="border border-dark border-2 p-2 rounded mb-3 bg-light">
                        <div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Mã NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text"
                                           class="form-control"
                                           value="@ViewBag.NS.MaNs"
                                           readonly />
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Tên NS</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input type="text"
                                           class="form-control"
                                           value="@ViewBag.NS.TenNs"
                                           readonly />
                                </div>
                            </div>
                            <div class="row mb-2">
                                <label class="col-sm-1 col-lg-1 col-form-label">Thời gian</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="thoigian1" type="date" class="form-control" required/>
                                </div>
                                <label class="col-sm-2 col-lg-2 col-form-label">Khoản phạt, trừ lương</label>
                                <div class="col-sm-2 col-lg-2">
                                    <select class="form-select"
                                            name=""
                                            id="IDP" required>
                                        <option selected value="">Khoản phạt, trừ lương</option>
                                        @foreach (Phat p in getListPhat())
                                        {
                                            <option value="@p.Id">@p.NoiDung</option>
                                        }
                                    </select>
                                </div>
                                <label class="col-sm-1 col-lg-1 col-form-label">Số tiền</label>
                                <div class="col-sm-2 col-lg-2">
                                    <input id="TP" type="number" class="form-control" required/>
                                </div>
                                <div class="col-sm-2 col-lg-2 d-flex justify-content-end">
                                    <button id="addQTP" class="btn btn-primary">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive table-bordered tableP tableP1"
                           style="width: 100%">
                        <thead>
                            <tr>
                                <th class="text-center">Thời gian</th>
                                <th class="text-center">Khoản phạt</th>
                                <th class="text-center">Số tiền</th>
                                <th class="text-center" width="30%">Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody id="tbodytableP">
                            @foreach (QuaTrinhPhat item in ViewBag.P)
                            {
                                <tr>
                                    <td class="text-right TGP">@formatDay(item.Tgphat)
                                     <input type="hidden" value="@item.Tgphat" />
                                    </td>
                                    <td class="text-right KP">@item.MaPhatNavigation?.NoiDung
                                        <input type="hidden" value="@item.MaPhatNavigation?.NoiDung" />
                                        <input type="hidden" id="MAP" value="@item.MaPhatNavigation.Id" />
                                        <input type="hidden" id="IDQTP" value="@item.Id" />
                                    </td>
                                    <td class="text-center TienP">@format(item.TienPhat)
                                       <input type="hidden" value="@item.TienPhat" />
                                    </td>
                                    <td class="text-center d-flex justify-content-evenly">
                                        <a class="btneditP">
                                            Chỉnh sửa <i class="bx bx-edit-alt"></i>
                                        </a>

                                        <a class="btnxoaP"
                                           onclick="return confirm('Bạn có khoản phạt này?')">
                                            Xóa
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '.btnhuyQTT', function () {
        $("#tbodytableT").load(location.href + " #tbodytableT>*", function () {
        });
    });
    $(document).on('click', '#addQTT', function () {
        var idns = $("#IDNS").val();
        var idthuong = $("#IDT").val();
        var thoigian = $("#thoigian").val();
        var tienthuong = $("#TT").val();
        $.ajax({
            type: "post",
            url: "/insertQTThuong",
            data: "IdNS=" + idns + "&MaThuong=" + idthuong + "&ThoiGian=" + thoigian + "&TienThuong=" + tienthuong,
            success: function (result) {
                $("#tbodytableT").load(location.href + " #tbodytableT>*", function () {
                });
                idthuong = $("#IDT").val('');
                thoigian = $("#thoigian").val('');
                tienthuong = $("").val('');
            },
            error: function () {
                alert("Không thể thêm");
            }
        });
    });
    $(document).on('click', '.btnhuyQTP', function () {
        $("#tbodytableP").load(location.href + " #tbodytableP>*", function () {
        });
    });
    $(document).on('click', '#addQTP', function () {
        var idns = $("#IDNS").val();
        var idphat = $("#IDP").val();
        var thoigian = $("#thoigian1").val();
        var tienphat = $("#TP").val();
        $.ajax({
            type: "post",
            url: "/insertQTP",
            data: "IdNS=" + idns + "&MaPhat=" + idphat + "&ThoiGian=" + thoigian + "&TienPhat=" + tienphat,
            success: function (result) {
                $("#tbodytableP").load(location.href + " #tbodytableP>*", function () {
                });
                idphat = $("#IDP").val('');
                thoigian = $("#thoigian").val('');
                tienphat = $("#TP").val('');
            },
            error: function () {
                alert("Không thể thêm");
            }
        });
    });

    $(function () {
        $(".tableT").on("click", ".btneditT", function () {

            var thoigian = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var khoanthuong = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var tienthuong = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var mathuong = $(this).closest('tr').find('#MAT').val();
            var idqtt = $(this).closest('tr').find('#IDQTT').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTT",
                data: "thoigian=" + thoigian + "&mathuong=" + mathuong + "&tienthuong=" + tienthuong + "&khoanthuong=" + khoanthuong + "&IDQTT=" + idqtt,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableT").on("click", ".btnxoaT", function () {
            var idqtt = $(this).closest('tr').find('#IDQTT').val();
            $.ajax({
                type: "post",
                url: "/XoaQTThuong",
                data: "&IDQTT=" + idqtt,
                success: function (result) {
                    $("#tbodytableT").load(location.href + " #tbodytableT>*", function () {
                    });

                },
                error: function () {
                    alert("Fail to delete");
                }
            });
        });
        $(".tableT").on("click", ".saveQTT", function () {
            var thoigian = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var mathuong = $(this).parents('tr').find("td:eq(1) select").val();
            var tienthuong = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var idqtt = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            $.ajax({
                type: "post",
                url: "/UpdateQTT",
                data: "thoigian=" + thoigian + "&mathuong=" + mathuong + "&tienthuong=" + tienthuong + "&IDQTT=" + idqtt,
                success: function (result) {
                    $("#tbodytableT").load(location.href + " #tbodytableT>*", function () {
                    });
                },
                error: function () {
                    alert(idqtt);
                }
            });
        });


        $(".tableP").on("click", ".btneditP", function () {

            var thoigian = $(this).parents('tr').find("td:eq(0) input[type='hidden']").val();
            var khoanphat = $(this).parents('tr').find("td:eq(1) input[type='hidden']").val();
            var tienphat = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            var maphat = $(this).closest('tr').find('#MAP').val();
            var idqtp = $(this).closest('tr').find('#IDQTP').val();
            var thiss = $(this);
            $.ajax({
                type: "post",
                url: "/addNewRowQTP",
                data: "thoigian=" + thoigian + "&maphat=" + maphat + "&tienphat=" + tienphat + "&khoanphat=" + khoanphat + "&IDQTP=" + idqtp,
                success: function (result) {
                    thiss.parents('tr').replaceWith(result);
                },
                error: function () {
                    alert("Fail");
                }
            });
        });
        $(".tableP").on("click", ".btnxoaP", function () {
            var idqtp = $(this).closest('tr').find('#IDQTP').val();
            $.ajax({
                type: "post",
                url: "/XoaQTP",
                data: "&IDQTP=" + idqtp,
                success: function (result) {
                    $("#tbodytableP").load(location.href + " #tbodytableP>*", function () {
                    });
                },
                error: function () {
                    alert("Lỗi khi xóa");
                }
            });
        });
        $(".tableP").on("click", ".saveQTP", function () {
            var thoigian = $(this).parents('tr').find("td:eq(0) input[type='text']").val();
            var maphat = $(this).parents('tr').find("td:eq(1) select").val();
            var tienphat = $(this).parents('tr').find("td:eq(2) input[type='text']").val();
            var idqtp = $(this).parents('tr').find("td:eq(2) input[type='hidden']").val();
            $.ajax({
                type: "post",
                url: "/UpdateQTP",
                data: "thoigian=" + thoigian + "&maphat=" + maphat + "&tienphat=" + tienphat + "&IDQTP=" + idqtp,
                success: function (result) {
                    $("#tbodytableP").load(location.href + " #tbodytableP>*", function () {
                    });
                },
                error: function () {
                    alert("Xảy ra vấn đề khi lưu");
                }
            });
        });

    });
    $("input[type='number']").focus(function () {
        // Lấy giá trị hiện tại của input
        var value = $(this).val();
        // Chuyển giá trị thành số và định dạng có dấu phân cách hàng nghìn
        var formattedValue = parseFloat(value).toLocaleString('en-US');
        // Gán giá trị đã được định dạng vào input
        $(this).val(formattedValue);
    });
</script>


  

        
