@{
   string formatTime(TimeSpan? timeSpan)
    {
        if (timeSpan.HasValue)
        {
            return timeSpan.Value.ToString("hh\\:mm");
        }
        else
        {
            return string.Empty; // hoặc giá trị mặc định khác tùy thuộc vào ý định của bạn
        }
    }
}
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
       <div class="card">
            <div class="card-header">
                <div class="row">
                         <div class="row"><div class="col-4">
                  <div class=" row">
                        <label for="html5-text-input" class="col-md-3 col-form-label">Quét qr</label>
                        <div class="col-md-9">
                          <input class="form-control" type="text" value="" id="MaDinhDanh" placeholder="Quét qr điểm danh">
                        </div>
                      </div>
                </div>
                   <div class="col-3">
                  <div class=" row">
                        <label for="html5-text-input" class="col-md-4 col-form-label">Mã nhân sự</label>
                        <div class="col-md-8">
                          <input class="form-control" type="text" value="" id="MaNS" placeholder="Mã nhân sự">
                        </div>
                      </div>
                </div><div class="col-3">
                  <div class=" row">
                        <label for="html5-text-input" class="col-md-auto col-form-label">Ngày</label>
                        <div class="col-md-8">
                          <input class="form-control" type="text" value="" id="Ngay" placeholder="Ngày">
                        </div>
                      </div>
                </div>
                <div class="col-auto">
                  <button type="button" class="btn btn-outline-primary" id="TimKiem">
                        <span class="tf-icons bx bx-search"></span>TÌm kiếm</button>
                </div>
                </div>           

                </div>
            </div>
        <div class="card-body">
                <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                      <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-home" aria-controls="navs-justified-home" aria-selected="true">
                          <i class="tf-icons bx bx-home"></i>Sáng
                        </button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-profile" aria-controls="navs-justified-profile" aria-selected="false">
                          <i class="tf-icons bx bx-user"></i>Trưa</button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-justified-messages" aria-controls="navs-justified-messages" aria-selected="false">
                          <i class="tf-icons bx bx-message-square"></i>Tối</button>
                      </li>
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane fade active show" id="navs-justified-home" role="tabpanel">
                        <div class="row">
                            <div >
                               <table id="example" class="display table table-bordered" style="width: 100%">
                                    <thead>
                                        <th class="text-center">Mã nhân sự</th>
                                        <th class="text-center">Tên nhân sự</th>
                                        <th class="text-center">Thời gian vào</th>
                                        <th class="text-center">Thời gian ra</th>
                                    </thead>
                                    <tbody id="DDSang">
                                        @foreach(var d in ViewBag.ChamCongSang) {
                                            <tr data-id="@d.Id">
                                            <td class="text-center" >@d.MaNsNavigation.MaNs</td>
                                            <td class="text-start">@d.MaNsNavigation.TenNs</td>
                                            <td class="text-center">@formatTime(d.GioVaoSang)</td>
                                            <td class="text-center">@formatTime(d.GioRaSang)</td>
                                            </tr>
                                        }
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                      </div>
                      <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                        <div class="row">
                            <div >
                               <table id="example" class="display table table-bordered" style="width: 100%">
                                    <thead>
                                        <th class="text-center">Mã nhân sự</th>
                                        <th class="text-center">Tên nhân sự</th>
                                        <th class="text-center">Thời gian vào</th>
                                        <th class="text-center">Thời gian ra</th>
                                    </thead>
                                    <tbody id="DDChieu">
                                          @foreach(var d in ViewBag.ChamCongChieu) {
                                            <td class="text-center">@d.MaNsNavigation.MaNs</td>
                                            <td class="text-start">@d.MaNsNavigation.TenNs</td>
                                            <td class="text-center">@formatTime(d.GioVaoChieu)</td>
                                            <td class="text-center">@formatTime(d.GioRaChieu)</td>
                                        }
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                      </div>
                      <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                        <div class="row">
                            <div >
                               <table id="example" class="display table table-bordered" style="width: 100%">
                                    <thead>
                                        <th class="text-center">Mã nhân sự</th>
                                        <th class="text-center">Tên nhân sự</th>
                                        <th class="text-center">Thời gian vào</th>
                                        <th class="text-center">Thời gian ra</th>
                                    </thead>
                                    <tbody id="DDToi">
                                          @foreach(var d in ViewBag.ChamCongToi) {
                                            <td class="text-center">@d.MaNsNavigation.MaNs</td>
                                            <td class="text-start">@d.MaNsNavigation.TenNs</td>
                                            <td class="text-center">@formatTime(d.GioVaoToi)</td>
                                            <td class="text-center">@formatTime(d.GioRaToi)</td>
                                        }
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
 <script src="~/js/Chamcong.js"></script>