@{
    QuanLyNhanVienContext context = new QuanLyNhanVienContext();
    LuongCoBan getQTL(int? id, DateTime? ngay)
    {
        LuongCoBan nv = context.LuongCoBan.FirstOrDefault(x => x.MaNs == id && x.ThoiGian == ngay);
        if (nv != null) return nv;
        else return new LuongCoBan();
    }
    QuaTrinhThuongPc getQTT(int? id, DateTime? ngay)
    {
        QuaTrinhThuongPc t = context.QuaTrinhThuongPc.FirstOrDefault(x => x.MaNs == id && x.Tgthuong == ngay);
        if (t != null) return t;
        else return new QuaTrinhThuongPc();
    }
    double CalculateTotalThuongNS(int? id, DateTime? ngay)
    {
        double totalThuongNS = 0.0;

        if (id.HasValue && ngay.HasValue)
        {
            totalThuongNS = (double)context.QuaTrinhThuongPc
                .Where(x => x.MaNs == id && x.Tgthuong.HasValue && x.Tgthuong.Value.Month == ngay.Value.Month && x.Tgthuong.Value.Year == ngay.Value.Year)
                .Sum(x => x.TienThuong);
        }

        return totalThuongNS;
    }

    double CalculateTotalLuongNS(int? id, DateTime? ngay)
    {

        double totalLuongNS = (double)context.PhuCapNhanSu
            .Where(x => x.MaNs == id && x.ThoiGian == ngay)
            .Sum(x => x.TienPc);

        return totalLuongNS;
    }

    double CalculateTotalPhatNS(int? id, DateTime? ngay)
    {
        double totalPhatNS = 0.0;

        if (id.HasValue && ngay.HasValue)
        {
            totalPhatNS = (double)context.QuaTrinhPhat
                .Where(x => x.MaNs == id && x.Tgphat.HasValue && x.Tgphat.Value.Month == ngay.Value.Month && x.Tgphat.Value.Year == ngay.Value.Year)
                .Sum(x => x.TienPhat);
        }

        return totalPhatNS;
    }

    string format1(decimal? a)
    {
        return a?.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);
    }
    string format(double? a)
    {
        return a?.ToString("N0", System.Globalization.CultureInfo.InvariantCulture);
    }
}

<div id="tbodyBangLuong">
  
    <table id="example"
           class="table table-bordered table-responsive"
           width="100%">
        <thead>
            <tr>

                <th class="text-center">STT</th>
                <th class="text-center">Mã NS</th>
                <th class="text-center">Tên NS</th>
                <th class="text-center">Lương cơ bản</th>
                <th class="text-center">Phụ cấp theo % lương</th>
                <th class="text-center">Thưởng, phụ cấp khác</th>
                <th class="text-center">khoản phạt, trừ lương</th>
                <th class="text-center">BHYT</th>
                <th class="text-center">Tổng lương</th>
                <th class="text-center">BHXH</th>
                <th class="text-center">Thực nhận</th>
            </tr>
        </thead>
       
        <tbody id="tbodyBangLuong">
            @{
                int Sttw = 0;
            }
            @foreach (NhanSu item in ViewBag.NS)
            {
                double totalLuongNS = CalculateTotalLuongNS(item.Id, ViewBag.Ngay);
                double totalThuongNS = CalculateTotalThuongNS(item.Id, ViewBag.Ngay);
                double totalPhatNS = CalculateTotalPhatNS(item.Id, ViewBag.Ngay);
                
            <tr>
                @{Sttw++;
                }
                <td class="text-center">@Sttw</td>
                <td class="text-center">@item.MaNs</td>
                <td class="text-left">@item.TenNs</td>
                <td class="text-right">@format1(getQTL(item.Id, ViewBag.Ngay).LuongNs)</td>
                <td class="text-right">@format(totalLuongNS)</td>
                <td class="text-right">@format(totalThuongNS)</td>
                <td class="text-right">@format(totalPhatNS)</td>
                <td class="text-right"></td>
                @{
                    double tongluong = ((double)getQTL(item.Id, ViewBag.Ngay).LuongNs + totalLuongNS + totalThuongNS - totalPhatNS);
                }
                <td class="text-right">
                    @format(tongluong)
                </td>
                <td class="text-right"></td>
                <td class="text-right">@format(tongluong)</td>
            </tr>

        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $.fn.DataTable.ext.pager.numbers_length = 3;
        $('#example').DataTable().destroy();
        $("#example").dataTable({
            scrollCollapse: true,
            bLengthChange: false,
            bInfo: false,
            scrollX: true,
            fixedHeader: true,
            language: {
                paginate: {
                    previous: "<<",
                    next: ">>",
                },
                search: "Tìm kiếm",
            },
        });
    });
</script>